*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 50px;
}
.main-visual h1{
  padding-top: 20px;
  padding-right: 20px;
  color:grey;

}

.main-contents{
  width: 840px;
  height: 720px;
  /*background-color: blue;*/
  /*text-align:center;*/
  margin: 0 auto;
  
}

.border{
  border-bottom:1px solid #a9a9a9;
  margin-top: 30px;
  margin-bottom: 30px;
}